[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
supabase = "*"
python-dotenv = "*"
plotly = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.11"
